body {
  padding: 64px;
}

div {
  margin: 40px;
  text-align: center;
  line-height: 100px;

  width: 100px;
  height: 100px;
  background: orange;
}

.box-1 {
  transition-property: transform;
  transition-duration: 1s;
}

.box-1:hover {
  /* transform: translate(50px, 20px); */
  /* transform: rotate(30deg); */
  /*transform: scale(0.5, 2);*/

  /*transform: translateX(100px) rotate(30deg);*/
  transform: rotate(30deg) translateX(100px);
}

.box-2 {
  transition-property: transform;
  transition-duration: 1s;
  
  transform-origin: top left;
}

.box-2:hover {
  /* transform: translate(50px, 20px); */
  /* transform: rotate(30deg); */
  transform: scale(0.5, 2);
}

.box-3 {
  /*transition-property: transform;*/
  /*transition-duration: .3s;*/
  /*transition-timing-function: ease-out;*/
  transition: transform .3s ease-out 1s, background .5s;
}

.box-3:hover {
  transform: translateX(30px); 
  background: skyblue;
}

.box-4 {
  animation-name: move;
  animation-duration: 2s;
  /*animation-delay: 1s;*/
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
  /* animation-direction: reverse; */
  /* animation-direction: alternate-reverse; */
}

.box-5 {
  /*animation-name: move;*/
  /*animation-duration: 2s;*/
  /*animation-iteration-count: infinite;*/
  animation: move 2s infinite 1s;
}

@keyframes move {
  0% {
    transform: none;
  }
  80% {
    transform: translateX(200px) rotate(360deg);
  }
  100% {
    transform: translateX(300px) rotate(360deg);
  }
}